In [1]:
#최소값 구하기
import pandas as pd
data = pd.read_csv('sample.csv')

In [6]:
print(data.min(axis=0)) #열에서 가장 작은 값

학번    201001
국어        50
영어        52
수학        51
dtype: int64

In [17]:
print(data.min(axis=1)) #행에서 가장 작은 값

0     60
1     55
2     82
3     52
4     75
5     58
6     70
7     51
8     52
9     51
10    56
11    51
12    77
13    54
14    53
15    81
16    53
17    56
18    65
19    50
dtype: int64

In [18]:
#최댓값 구하기
print(data.max(axis=0)) #열에서 가장 큰 값

학번    201020
국어        98
영어        99
수학       100
dtype: int64

In [19]:
print(data.max(axis=1)) #행에서 가장 큰 값

0     201001
1     201002
2     201003
3     201004
4     201005
5     201006
6     201007
7     201008
8     201009
9     201010
10    201011
11    201012
12    201013
13    201014
14    201015
15    201016
16    201017
17    201018
18    201019
19    201020
dtype: int64

In [20]:
#평균 구하기
print(data.mean(axis=0))

학번    201010.50
국어        72.25
영어        75.60
수학        71.10
dtype: float64

In [21]:
print(data.mean(axis=1))

0     50302.25
1     50308.50
2     50319.75
3     50304.50
4     50310.75
5     50305.00
6     50313.00
7     50300.75
8     50301.00
9     50307.00
10    50312.50
11    50307.50
12    50321.75
13    50297.50
14    50297.00
15    50318.00
16    50310.50
17    50302.25
18    50310.25
19    50297.50
dtype: float64

In [22]:
#중간 값 구하기
print(data.median(axis=0))

학번    201010.5
국어        70.0
영어        73.5
수학        69.0
dtype: float64

In [23]:
print(data.median(axis=1)) # 데이터가 짝수 개일 경우 중간에 해당하는 값2개를 구하고 이 두개의 평균을 구함

0     74.0
1     88.5
2     97.0
3     81.0
4     81.5
5     78.0
6     87.5
7     72.0
8     71.5
9     83.5
10    91.5
11    83.5
12    98.5
13    61.0
14    60.0
15    87.5
16    86.0
17    67.5
18    78.5
19    60.0
dtype: float64